extends ../shared/template
block content
  .row
    h2.page-header Search Hipsterbay
      small  &nbsp Find the next hot thing!
  .row
    .col-xs-1
    .col-xs-2.sidebar
      ul.nav.side-bar#tag
        each tag in tags
          li: a(href='/auction/search?tag=#{tag}')= tag
    .col-xs-7
        #map
        .row#userLocation(data-lat=user.loc.lat, data-lng=user.loc.lng)
          h3.auctions-title Your Search Results:
          .col-xs-9.auctions
            if(auctions)
              each auction in auctions
                a.locationValue(href='/auction/#{auction._id}', data-name=auction.user.loc.name, data-lat=auction.user.loc.lat, data-lng=auction.user.loc.lng)= auction.name
            else
              p We didn't find anything that matched that search query.
              | You are way ahead of the curve!
    .col-xs-2

block scripts
  script(src='/js/user/search.js')
