extends ../shared/template
block content

  h2.text-center Login
  .row
    .col-xs-3
    .col-xs-6
      form(role='form', method='post', action='/login')
        .form-group
          label(for='email') Email
          input.form-control#email(type='email', name='email', autofocus=true)
        .form-group
          label(for='password') Password
          input.form-control#password(type='password', name='password')
        button.btn.btn-success(type='submit') Let's Barter!
    .col-xs-3

block scripts
