.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='#bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/auction/search') Hipsterbay

    .collapse.navbar-collapse#bs-navbar-collapse
      ul.nav.navbar-nav.navbar-right
        if user
          form#search-form.navbar-form.navbar-left(role='search')
              input.form-control#search(type='text' placeholder='Search')
              button.btn.btn-default#search-button(type='submit') Go!
          li
            form.navbar-form(method='post', action='/logout')
              .form-group
                input(type='hidden', name='_method', value='delete')
                button.btn.btn-danger(type='submit')= user.email
        else
          li: a(href='/login') Register
          li: a(href='/login') Login

