extends ../shared/template
block content
  h2 Home
  .panel.panel-default
    .panel-body
      h4 Bootstrap Themes and Templates
      ul
        li: a(href='http://bootswatch.com/', target='_blank') http://bootswatch.com/
        li: a(href='http://bootstrapzero.com/', target='_blank') http://bootstrapzero.com/
        li: a(href='http://startbootstrap.com/', target='_blank') http://startbootstrap.com/
        li: a(href='http://www.prepbootstrap.com/', target='_blank') http://www.prepbootstrap.com/
        li: a(href='http://www.blacktie.co/', target='_blank') http://www.blacktie.co/
        li: a(href='https://bootstrapmaster.com/', target='_blank') https://bootstrapmaster.com/
        li: a(href='http://bootstrapstyler.com/', target='_blank') http://bootstrapstyler.com/
      h4 Favicon Generators
      ul
        li: a(href='http://www.favicon.cc/', target='_blank') http://www.favicon.cc/

block scripts
  script(src='/js/user/home.js')

