extends ../shared/template
block content
  .welcome
    .title-bar
      h1 Welcome to Hipsterbay
      h2 Modern Bartering at it's Quirkiest.
      h3 No money is exchanged here, only interestingly used goods.
block scripts
  script(src='/js/user/home.js')
