@base: #eee;

body{
  background-color: @base;
}
//--------------------
//edit.jade
//--------------------

#showImg {
height: 200px;
}
//--------------------
//edit.jade END
//--------------------


//--------------------
//seller-show.jade
//--------------------
.bid {
  width: 300px;
  height: 700px;
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 10px;
}

.thumbnail {
  height: 300px;
  border-radius: 10px;
}

.bidBody {
  height: 66%;
}

.swap {
  width: 100%;
  display: none;
}

form[id='acceptBid'] {
  display: inline-block;
}
//--------------------
//seller-show.jade END
//--------------------

//--------------------
//search.jade
//--------------------
#map {
  height: 350px;
  width: 800px;
}
//--------------------
//search.jade END
//--------------------
