@grey-accent: rgba(220, 220, 220, 0.18);

//general
body{
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  .wrapper {
    margin: 0;
    padding: 0;
  }
  .badge {
    margin-left: 5px;
  }
}
//--------------------
//Edit Profile 
//--------------------

.profile-pic {
  width: 300px;
  height: 300px;
  margin-top: 50px;
}
.profile-info {
  text-align: center;
  margin-left: 100px;
  border-radius: 4%;
}
form#edit-profile {
  margin-top: 60px;
}
//--------------------
//Edit Profile End
//--------------------
//--------------------
//Add Item
//--------------------
#add-item {
  margin-bottom: 50px;
}
//--------------------
//Add Item End
//--------------------
//--------------------
//edit.jade
//--------------------

#edit-item {
  margin-bottom: 100px;
}

//--------------------
//edit.jade END
//--------------------

//--------------------
//Inbox
//--------------------

.inbox {
  background-image: url('/img/can.png');
  background-size: cover;
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  margin: 0;
  
  .inboxMessage {
    padding-bottom: 80px;
  }

  .btn {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 10px;
  }
}

//--------------------
//Inbox End
//--------------------

//--------------------
//Send
//--------------------

.send {
  background-image: url('/img/typewriter.jpg');
  background-size: cover;
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  margin: 0;
  
  .sendMessage {
    color: white;
  }

  .col-xs-6 {
    margin-top: 80px;

    .panel {
      background-color: rgba(255, 255, 255, 0.5);
      border: none;

      textarea {
        opacity: .8;
      }

      .btn {
        float: right;
        margin-top: 20px;
      }
    }
  }
}

//--------------------
//Send End
//--------------------

//--------------------
//seller-show.jade and bidder-show.jade
//--------------------
.bid {
  width: 400px;
  height: 700px;
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 10px;
}

.thumbnail {
  height: 300px;
  border-radius: 10px;
}

.bidBody {
  height: 66%;
}

.swap {
  width: 100%;
  display: none;
}

form[id='acceptBid'] {
  display: inline-block;
}

.img-border, {
  border: 0px solid black;
}

.contact {
  padding: 10px;
}

.item-list, .contact {
  width: 100%;
  height: 50px;
  font-size: 1.5em;
  display: inline-block;
  vertical-align: bottom;
  margin-top: 20px;
}

.item-description {
  font-size: 1.4em;
  font-weight: bold;
}

.center {
  text-align: center;
}

hr {
  border: 3px solid black;
}


//--------------------
//seller-show.jade END
//--------------------

//--------------------
//search.jade
//--------------------
h2.page-header {
  padding: 40px 20px 40px;
  background-color: @grey-accent;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}
.nav#tag {
  border-left: 2px solid rgba(128, 128, 128, 0.35);
  border-top-left-radius: 7%;
  border-right: 2px solid rgba(128, 128, 128, 0.35);
  border-bottom-left-radius: 7%;
  overflow: hidden;
  border-bottom-right-radius: 7%;
  border-top-right-radius: 7%;
}

#map {
  height: 350px;
  width: 800px;
}
#userLocation a {
  display: block;
  padding: 10px;
  color: dimgrey;
}
#search-form .form-group {
  padding: 20px 0;
}
input#search {
  border: none;
  background-color: #3C5166;
  color: white;
}
h3.auctions-title {
  padding-left: 20px;
  margin-bottom: 0;
}
.auctions {
  height: 300px;
  max-height: 500px;
}
//--------------------
//search.jade END
//--------------------

//--------------------
// congrats.jade page
//--------------------

#lrg-img {
  background-image: url('/img/congratulations.png');
  background-size: contain;
  width: 100%;
  height: 1000px;
  background-repeat: no-repeat;
}

//--------------------
// congrats.jade END
//--------------------
