extends ../shared/template
block content
    h2.page-header Item Management
    .row
      .col-xs-1
      .col-xs-5
        form#add-item(method='post' action='/items/add')
          .form-group
            label Name
            input.form-control(type='text' name='name', autofocus=true)
            input.form-control(type='hidden' name='ownerId' value='#{user._id}')
          .form-group
            label Photo URL
            input.form-control(type='text' name='photo')
          .form-group
            label Description
            textarea(style="width: 100%; height: 200px; resize: none;" name='description')
          button.btn.btn-success(type='submit') Add Item
      .col-xs-5
        .row
          table.table#availableItems
            tr
              th Available Items
                  each item in availableItems
                    tr
                      td: a(href="/items/#{item._id}/show")= item.name
        .row
          table.table#myAuctions
            tr
              th My Auctions
                each auction in auctions
                  tr
                    td: a(href="/auction/#{auction._id}")= auction.name
      .col-xs-1
block scripts
  script(src="/js/user/new.js")
